@model List<ElectricTests.Model.FormattedDocument>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
<script src="~/Content/javascripts/jquery.foundation.reveal.js"></script>
@Scripts.Render("~/Content/javascripts/foundation.min.js")
@Scripts.Render("~/Content/javascripts/Paragraph/addQuestion.js")

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@{
	ViewBag.Title = "Dokumentai";
}
@section featured {
	<section class="twelve columns">
		<hr/>
		<p>Šitame skyriuje rasite normatyvinius aktus, taisykles ir tvarkas. Taip pat čia galite užduoti klausimą tam tikram taisyklių punktui. Norint užduoti klausimą reikia užeiti į vieną iš žemiau išvardintų dokumentų, pelytės pagalba atsistoję ant vieno iš taisyklės punkto dešynėje pusėje pamatysite ženkliuką su pliusu, paspaudus jį į galite užduoti klausimą būtent dėl jūsų pasirento punkto. Arba galite <a  data-reveal-id="addQuestionFormWithoutParagraph" href="javascript:openFormWithoutParagraph()">čia</a> užduoti klausimą nesusijusį su šitais dokumentais.</p>
		@foreach(var document in Model) {
			@Html.ActionLink(document.Title, "Details", new { id=document.Id })<br/>
		}
		<hr/>
		@if (Request.IsAuthenticated) { 
			@Html.ActionLink("Prideti dokumentą", "Add")
		}
	</section>
}
@{ Html.RenderPartial("_AddQuestionFormWithoutParagraph", new Question()); }
@{ Html.RenderPartial("_infoMessageWindow", 
	   "Jūsų klausimas išsaugotas duomenų bazėje. Po administratoriaus patikrinimo jis bus pridėtas prie testavimo."); }