@{
	ViewBag.Title = "Home Page";
}
@section featured {
	<section class="twelve columns">
		<hr/>
		<p>Sveiki, šitas puslapis sukurtas tam, kad palengvinti kvalifikacijos egzamino laikymą.</p>
		<p>Čia galima:</p>
		<ul>
			<li>Skaityit norminius dokumentus (taisykles, tvarkas, instrukcijas ir t.t.).</li>
			<li>Sprendžiant testavimo klausimus, galite lengviau pasiruošti ateinančiam egzaminui.</li>
			<li>Kiekvienam taisyklių punktui galite užduoti savo klausimą ir atsakymų variantus. Vėliau jūsų klausimas bus įtrauktas į testavimo klausimų sąrašą.</li>
		</ul>
	</section>
}
