@model List<Test>
@{
	ViewBag.Title = "Testai";
}
@section featured {
	<section class="twelve columns">
		<hr/>      
		@foreach (Test test in Model) {
			<div class="row"> 
				<div class="ten columns">@Html.ActionLink(test.Title, "Show", new {id = test.Id})</div>
				@if (User.IsInRole("Administrator")) {
					<div class="two columns">@Html.ActionLink("Prideti klausymus", "AddQuestions", new {id = test.Id})</div>
				}
			</div>
		}
		<hr/>
		@if (User.IsInRole("Administrator")) {
			@Html.ActionLink("Sukurti testavimą", "Add")
		} 
	</section>
}