@model List<Test>
@{
	ViewBag.Title = "Testai";
}
@section featured {
	<section class="twelve columns">
		<hr/>      
		@foreach (Test test in Model) {
			<div class="row"> 
				<div class="large-10 columns">@Html.ActionLink(test.Title, "Show", new {id = test.Id})</div>
				@if (Request.IsAuthenticated) {
					<div class="large-2 columns">@Html.ActionLink("Prideti klausymus", "AddQuestions", new {id = test.Id})</div>
				}
			</div>
		}
		<hr/>
		@if (Request.IsAuthenticated) {
			@Html.ActionLink("Sukurti testavimą", "Add")
		} 
	</section>
}