@{
	ViewBag.Title = "Pagalba";
}
@section featured {
	<section class="twelve columns">
		<hr/>
		<h6>Kaip užduoti klausimą testavimui konkrečiam taisyklės taisyklės punktui?</h6>
		<p>Labai paprasta. Norint užduoti klausimą reikia užeiti į vieną iš dokumentų "Dokumentai" skyriuje, pelytės pagalba atsistoję ant vieno iš taisyklės punkto dešynėje pusėje pamatysite ženkliuką su žaliu pliusu. Pauspaukite jį.</p>
		<img src="~/Content/images/addQuestion.png" class="helpImages"/>
		<p>Atsidarys forma, kur galite užduoti klausimą susijusį su taisyklės punktu (Taip pat nepamirškite duoti tesingą ir klaidingą(us) atsakymo variantus).</p>
		<img src="~/Content/images/questionForm.png" class="helpImages"/>
		<p>Užpildus formą ir paspaudus "Įkelti klausimą", pamatysite pranešimo langą, kuris praneša jums, kad klausimas sėkmingai išsaugotas.</p>
		<img src="~/Content/images/savedToDB.png" class="helpImages"/>
	</section>
}
